{% extends 'layout.html' %}
{% block body %}
        <a href='/'>Main Page</a>
        Import from google by keyword:
        <form method="post">
            <input type="text" name="keyword" placeholder="Keyword"/>
            <button type="submit">Submit</button>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
{% endblock %}
